body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    height:-webkit-fill-available;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html{ height:-webkit-fill-available;}
  h1 {text-align: center;}
  div.ext-box { display: table; width:100%;}
  div.int-box { display: table-cell; vertical-align: middle; }

  .custom-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;
  }
  
  .custom-field input {
    margin: 10px;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #dfdfdf;
    padding: 12px;
    border-radius: 5px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: 16px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #575757;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input:valid + .placeholder,
  .custom-field input:focus + .placeholder {
    top: -2px;
    font-size: 12px;
    color: #222;
  }

  button {
    appearance: none;
    mz-appearance: none;
    moz-appearance: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }
  
  .btn {
    margin: 15px 0;
    padding: 14px 15px;
    background: #eee;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 100%;
    border-radius: 3px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  
  .btn:hover {
    opacity: 15;
  }
  
  .btn.cta {
    background: #1d51c0;
    color: #b3e05e;
    font-weight: 700;
    
  }
  .btn.cta2 {
    display: none;
    background: #1d51c0;
    color: #b3e05e;
    font-weight: 700;
    margin-left:25%;
    margin-right:25%;
  }
  .custom-list> ::marker {
    color: red;
    font-size: 1em;
    font-weight: 700;
  }

  .custom-list > li {
    padding-left: .5em;
    font-size: 1.4rem;
    line-height: 1.;
  }

 .box{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin: 10px;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #dfdfdf;
  padding: 12px;
  border-radius: 5px;
  width: 250px;
  outline: none;
  font-size: 14px;
 }